<h2>Log In:</h2>

{{#if error}}
<p class="alert alert-danger">{{error}}</p>
{{/if}}

{{#if info}}
<p class="alert alert-warning">{{info}}</p>
{{/if}}

<form action="/login" method="post">
  <p class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" class="form-control">
  </p>
  <p class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" class="form-control">
  </p>
  <p class="form-group">
    <input type="submit" value="Log In" class="btn btn-primary">
  </p>
</form>